body {
    font-family: Helvetica, Arial, sans-serif;
    background-color: #202020;
    color: #ffffff;
}

h1,
h2,
h3 {
    color: rgb(255, 233, 109);
}

img {
    width: 512px;
    height: auto;
}

.home {
    text-align: center;
    list-style-type: none;
    padding: 0;
}

ul.home {
    font-size: 120%;
}